<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configuration>
    <connectionStrings>
      <add name="FriendOrganiserDB"
           providerName="System.Data.SqlServerCe.4.0"
           connectionString="Data Source=Blogging.sdf"/>
    </connectionStrings>
  </configuration>-->
  <!--<configuration>
    <connectionStrings>
      <add name="FriendOrganiserDB"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=.;Initial Catalog=FriendOrganizer;Integrated Security=True"/>
    </connectionStrings>
  </configuration>-->
</configuration>