<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="FriendOrganiserDB"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FriendOrganiserDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
</configuration>